<div>
    <div class="space"></div>

    <footer class="container justify-center b-bg">
        <div class="container nowrap align-center">
            <small class="threepercent-lr-margin">
                <a href="/manager" class="link nowrap">Manager</a>
            </small>
            <small>
                <a href="#" class="link nowrap">Politique de confidentialité</a>
            </small>
            <h2 class="logo-title">Company</h2>
        </div>
    </footer>
</div>