<!DOCTYPE html>
<html lang="en">
<head>
    <title>Company | Cart</title>
    <%- include('../partials/head'); %>
</head>
<body>

<%- include('../partials/header'); %>

<main class="container flex-center threepercent-lr-margin wrap">
    <div class="container space-between">
        <div class="container flex-left threepercent-lr-margin">
            <div class="container flex-left">
                <a href="/" class="important-link">Shop</a>
            </div>
        </div>
        <div class="container flex-right threepercent-lr-margin">
            <div class="container threepercent-lr-margin flex-right">
                <a href="/login" class="important-link">Account</a>
            </div>
            |
            <div class="container threepercent-lr-margin flex-right">
                <a href="/cart" class="important-link">Cart</a>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer'); %>
</body>
</html>