<!DOCTYPE html>
<html lang="en">
<head>
    <title>Company | Cart</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>

<%- include('../partials/header'); %>

<main class="container flex-center threepercent-lr-margin wrap">
    <% if(cart.length === 0) { %>
        <h1>Empty !</h1>
    <% } else { %>
        <table></table>
    <% } %>
</main>

<%- include('../partials/footer'); %>
</body>
</html>